/* card del homepage*/
.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}

.cardContainer > div{
    text-align: center;
    padding: 10px;
    
}
.blur{
    background: #242424;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #1a1a1a;

}
.cover{
    width: 180px;
    height: 200px;
    border-radius: 5px;
}
img{
    width: 180px;
    height: 200px;
    border-radius: 5px 5px 0 0;
}
h2{
    padding: 0;
    margin-top: 3px;
    font-size: 16px;
}
.card {
    width: 200px;
    height: 254px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 1px #00000088;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.card .content {
    z-index: 0;
    border-radius: 5px;
    width: 200px;
    height: 254px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
}

.content::before {
    opacity: 0;
    transition: opacity 300ms;
    content: " ";
    display: block;
    background: white;
    width: 50px;
    height: 50px;
    position: absolute;
    filter: blur(50px);
}

.card:hover .content::before {
    opacity: 0;
  box-shadow: 0 0 10px 0px, inset 5px 5px 10px 0px black;

    
}

.card::before {
    opacity: 0;
    content: " ";
    position: absolute;
    display: block;
    width: 120px;
    height: 360px;
    background: linear-gradient(90deg,
            transparent,
            #ff2288,
            #387ef0,
            transparent);
    transition: opacity 300ms;
    animation: rotation_9018 3000ms infinite linear;
    animation-play-state: paused;
    
}

.card:hover::before {
    opacity: 1;
    animation-play-state: running;
    
}

.card::after {
    position: absolute;
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-position: center;
    
    
}

.card:hover {
  box-shadow: 0 0 20px 0px, inset 5px 5px 10px 0px black;

}

@keyframes rotation_9018 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------*/